extends layout

block content
  h1 Alvin's TimeStamp API
  h2 Time Microservice
  h3 Example Usage
  code localhost:8080/December 15, 2015
  br
  code localhost:8080/1450137600
  h3 Expected Output is JSON
  code { "unix": 1450137600, "natural": December 15, 2015 }
